.choose
{
  padding-bottom: 200px;
}
.choose__box
{
  background-color: $dark-gray-blue;
  padding-top: 100px;
  padding-bottom: 86px;
  border-radius: 12px;
  position: relative;
}
.choose__wrapper
{
  position: absolute;
  width: 100%;
  height: 240px;
  border-radius: 12px;
  background-color: $dark-gray-blue;
  bottom: -213px;
  z-index: -1;
}
.choose__title
{
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 32px;
}
.choose__text
{
  font-family: $second-font;
  max-width: 540px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0 auto;
}
.choose__list
{
  max-width: 86%;
  margin: 0 auto;
  display: flex;
  gap: 30px;

}
.choose__item
{
  max-width: 350px;
  padding: 72px 48px 48px 47px;
  background: #0E8784;
  border-radius: 8px;
  text-align: center;
}
.choose__item:first-child
{
  &::before
  {
    content: '';
    width: 72px;
    height: 72px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('/assets/images/coffee-bean.svg');
    margin-bottom: 56px;
  }
}
.choose__item:nth-child(2)
{
  &::before
  {
    content: '';
    width: 72px;
    height: 72px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('/assets/images/coffe-gift.svg');
    margin-bottom: 56px;
  }
}
.choose__item:last-child
{
  &::before
  {
    content: '';
    width: 72px;
    height: 72px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('/assets/images/coffe-shipping.svg');
    background-position: center;
    margin-bottom: 56px;
  }
}
.choose__sub-title
{
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
  margin-bottom: 24px;
}
.choose__description
{
  @include primery-text(#FEFCF7);
}
@media screen and (max-width:1000px)
{
  .choose__list
  {
    flex-direction: column;
  } 
  .choose__item
  {
    max-width: 100%;
    width: 100%;
    padding: 41px ;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .choose__content-block
  {
    margin-left: 70px;
  }
  .choose__item::before
  {
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .choose__wrapper
  {
    height: 363px;
    bottom: -322px;
  }
}
@media screen and (max-width:700px) 
{
  .choose__list
  {
    width: 100%;
  }
  .choose__item
  {
    max-width: 100%;
    padding: 72px 48px 48px 47px;
    flex-direction: column;
    text-align: center;
  }
  .choose__content-block
  {
    margin-left: 0;
  }
  .choose__item::before
  {
    margin-bottom: 56px;
  }
  .choose__wrapper
  {
    height: 763px;
    bottom: -600px;
  }
  .choose__text
  {
    padding: 0 24px;
  }
}