.site-header
{
  padding: 44px 0;
}
.site-header__container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__list
{
  display: flex;
  align-items: center;
}
.site-header__item + .site-header__item
{
  margin-left: 33px;
}
.site-header__link
{
  @include navbar-link;
}
.site-header__hambuger
{
  width: 25px;
  height: 20px;
  background-image: url('/assets/images/hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: none;
}
@media only screen and (max-width:768px)
{
  .site-header__list
  {
    display: none;
  }
  .site-header__hambuger
  {
    display: inline-block;
  }
  .site-header__logo-link
  {
    display: inline-block;
    max-width: 163px;
  }
}
@media screen and (max-width: 536px)
{
  .site-header
  {
    padding: 40px 0;
  }
}
