/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/barlow-v12-latin-500.woff2") format("woff2"), url("../fonts/barlow-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/barlow-v12-latin-600.woff2") format("woff2"), url("../fonts/barlow-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: #FEFCF7;
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.site-header {
  padding: 44px 0;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__list {
  display: flex;
  align-items: center;
}

.site-header__item + .site-header__item {
  margin-left: 33px;
}

.site-header__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.site-header__link:hover {
  color: #000;
}

.site-header__hambuger {
  width: 25px;
  height: 20px;
  background-image: url("/assets/images/hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: none;
}

@media only screen and (max-width: 768px) {
  .site-header__list {
    display: none;
  }
  .site-header__hambuger {
    display: inline-block;
  }
  .site-header__logo-link {
    display: inline-block;
    max-width: 163px;
  }
}
@media screen and (max-width: 536px) {
  .site-header {
    padding: 40px 0;
  }
}
.hero__block {
  padding: 117px 0;
  background-image: url("/assets/images/hero-bg.jpg");
  background-repeat: no-repeat;
  border-radius: 12px;
}

.hero__content {
  margin-left: 85px;
}

.hero-title {
  max-width: 493px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.hero-text {
  max-width: 410px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 56px;
}

.hero-btn {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 15.5px 31px;
}
.hero-btn:hover {
  background: #66D2CF;
}

@media only screen and (max-width: 1000px) {
  .hero__block {
    padding: 107px 0;
    background-image: url("/assets/images/tablet-hero-bg.jpg");
    background-size: cover;
  }
  .hero-title {
    font-size: 48px;
    line-height: 49px;
    max-width: 329px;
    margin-bottom: 24px;
  }
  .hero-text {
    font-size: 15px;
    line-height: 25px;
    max-width: 372px;
  }
  .hero__content {
    margin-left: 58px;
  }
}
@media screen and (max-width: 800px) {
  .hero__block {
    background-position: right;
  }
}
@media screen and (max-width: 536px) {
  .hero__block {
    background-image: url("/assets/images/mobile-her-bg.jpg");
  }
  .hero__content {
    margin-left: 0;
    padding: 0 24px;
    text-align: center;
  }
  .hero-title {
    max-width: 100%;
    font-size: 40px;
    line-height: 40px;
  }
  .hero-text {
    max-width: 100%;
    font-size: 15px;
    line-height: 25px;
  }
}
.collection-list {
  max-width: 1111px;
  margin: 0 auto;
  background-image: url("/assets/images/collection-text-desktop.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 136px;
  padding-top: 140px;
  margin-bottom: 200px;
}

.collection-block {
  max-width: 256px;
  height: 193px;
}

.collection-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.collection-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

@media screen and (max-width: 1130px) {
  .collection-list {
    max-width: 689px;
    flex-direction: column;
    background-image: url("/assets/images/collection-text-tablet.png");
    background-position: center 0;
  }
  .collection-item {
    display: flex;
    align-items: center;
  }
  .collection-title {
    text-align: start;
  }
  .collection-text {
    text-align: start;
    width: 282px;
  }
}
@media screen and (max-width: 740px) {
  .collection-list {
    background-image: url("/assets/images/collection-text-mobile.png");
  }
  .collection-item {
    max-width: 375px;
    flex-direction: column;
  }
  .collection-title {
    text-align: center;
  }
  .collection-text {
    text-align: center;
    width: 282px;
  }
}
.choose {
  padding-bottom: 200px;
}

.choose__box {
  background-color: #333D4B;
  padding-top: 100px;
  padding-bottom: 86px;
  border-radius: 12px;
  position: relative;
}

.choose__wrapper {
  position: absolute;
  width: 100%;
  height: 240px;
  border-radius: 12px;
  background-color: #333D4B;
  bottom: -213px;
  z-index: -1;
}

.choose__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.choose__text {
  font-family: "Barlow";
  max-width: 540px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0 auto;
}

.choose__list {
  max-width: 86%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.choose__item {
  max-width: 350px;
  padding: 72px 48px 48px 47px;
  background: #0E8784;
  border-radius: 8px;
  text-align: center;
}

.choose__item:first-child::before {
  content: "";
  width: 72px;
  height: 72px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("/assets/images/coffee-bean.svg");
  margin-bottom: 56px;
}

.choose__item:nth-child(2)::before {
  content: "";
  width: 72px;
  height: 72px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("/assets/images/coffe-gift.svg");
  margin-bottom: 56px;
}

.choose__item:last-child::before {
  content: "";
  width: 72px;
  height: 72px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("/assets/images/coffe-shipping.svg");
  background-position: center;
  margin-bottom: 56px;
}

.choose__sub-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.choose__description {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

@media screen and (max-width: 1000px) {
  .choose__list {
    flex-direction: column;
  }
  .choose__item {
    max-width: 100%;
    width: 100%;
    padding: 41px;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .choose__content-block {
    margin-left: 70px;
  }
  .choose__item::before {
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .choose__wrapper {
    height: 363px;
    bottom: -322px;
  }
}
@media screen and (max-width: 700px) {
  .choose__list {
    width: 100%;
  }
  .choose__item {
    max-width: 100%;
    padding: 72px 48px 48px 47px;
    flex-direction: column;
    text-align: center;
  }
  .choose__content-block {
    margin-left: 0;
  }
  .choose__item::before {
    margin-bottom: 56px;
  }
  .choose__wrapper {
    height: 763px;
    bottom: -600px;
  }
  .choose__text {
    padding: 0 24px;
  }
}
.user-coffe {
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 200px;
}

.user-coffe__block {
  max-width: 1045px;
}

.user-coffe__text {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 95px;
}

.horizontal-line {
  max-width: 760px;
  height: 2px;
  background-color: #FDD6BA;
  border: 2px solid #FDD6BA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 82px;
  position: relative;
}
.horizontal-line::before {
  content: "";
  display: inline-block;
  right: -2px;
  top: -15px;
  position: absolute;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
}
.horizontal-line::after {
  content: "";
  display: inline-block;
  left: -2px;
  top: -15px;
  position: absolute;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
}

.horizontal-line__border {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
}

.user-coffe__block-list {
  max-width: 1025px;
  display: flex;
  justify-content: space-between;
}

.user-coffe__block-item {
  max-width: 295px;
  padding: 0 10px;
}

.user-coffe__block-item:first-child {
  background-image: url("/assets/images/n1.svg");
  background-repeat: no-repeat;
}

.user-coffe__block-item:nth-child(2) {
  background-image: url("/assets/images/n2.svg");
  background-repeat: no-repeat;
}

.user-coffe__block-item:last-child {
  background-image: url("/assets/images/n3.svg");
  background-repeat: no-repeat;
}

.user-coffe__block-title {
  max-width: 200px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-top: 162px;
}

.user-coffe__block-text {
  max-width: 285px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  margin-top: 42px;
}

.user-coffe__block-btn {
  margin-top: 64px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 15.5px 31px;
  border: none;
  cursor: pointer;
}
.user-coffe__block-btn:hover {
  background: #66D2CF;
}

@media screen and (max-width: 1015px) {
  .horizontal-line {
    max-width: 677px;
  }
}
@media screen and (max-width: 950px) {
  .horizontal-line {
    max-width: 597px;
  }
  .user-coffe__block-list {
    max-width: 789px;
  }
  .user-coffe__block-item {
    max-width: 223px;
  }
  .user-coffe__block-title {
    font-size: 28px;
    line-height: 32px;
  }
  .user-coffe__block-text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 815px) {
  .horizontal-line {
    max-width: 547px;
  }
}
@media screen and (max-width: 745px) {
  .horizontal-line {
    max-width: 447px;
  }
}
@media screen and (max-width: 655px) {
  .horizontal-line {
    display: none;
  }
  .user-coffe__container {
    text-align: center;
  }
  .user-coffe__block-list {
    flex-direction: column;
    gap: 56px;
  }
  .user-coffe__block-item {
    max-width: 327px;
    margin: 0 auto;
  }
  .user-coffe__block-item:first-child {
    background-position-x: center;
  }
  .user-coffe__block-item:nth-child(2) {
    background-position-x: center;
  }
  .user-coffe__block-item:last-child {
    background-position-x: center;
  }
  .user-coffe__block-title {
    max-width: 100%;
    margin-top: 95px;
    font-size: 27px;
    z-index: 1;
  }
  .user-coffe__block-text {
    max-width: 100%;
    margin-top: 24px;
  }
}
.about-us__page {
  background-image: url("/assets/images/desktop-about-us-img.jpg");
  padding: 137px 0 137px 85px;
  margin-bottom: 168px;
  border-radius: 12px;
}

.about-us__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.about-us__text {
  max-width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin-top: 24px;
}

@media screen and (max-width: 900px) {
  .about-us__page {
    background-image: url("/assets/images/tablet-about-us-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .about-us__title {
    font-size: 32px;
    line-height: 40px;
  }
  .about-us__text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 745px) {
  .about-us__page {
    background-image: url("/assets/images/mobile-about-us-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 622px) {
  .about-us__page {
    padding: 111px 24px 87px 24px;
  }
  .about-us__title {
    text-align: center;
    margin: 0 auto;
  }
  .about-us__text {
    text-align: center;
    margin: 0 auto;
    margin-top: 24px;
    max-width: 279px;
  }
}
.commitment-block {
  max-width: 1110px;
  display: flex;
  align-items: center;
  gap: 125px;
  padding-bottom: 256px;
}

.commitment-img {
  max-width: 445px;
  width: 100%;
}

.commitment-content {
  max-width: 540px;
}

.commitment-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}

.commitment-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 32px;
}

@media screen and (max-width: 1124px) {
  .commitment-block {
    gap: 79px;
    margin: 0 auto;
  }
  .commitment-content {
    max-width: 499px;
  }
}
@media screen and (max-width: 933px) {
  .commitment-title {
    font-size: 32px;
    line-height: 48px;
  }
  .commitment-text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 840px) {
  .commitment-block {
    gap: 69px;
    margin: 0 auto;
  }
  .commitment-content {
    max-width: 399px;
  }
}
@media screen and (max-width: 740px) {
  .commitment-block {
    flex-direction: column;
    text-align: center;
  }
}
.quality-block {
  background-color: #333D4B;
  margin-bottom: 168px;
  padding: 88px 0 176px 85px;
  max-width: 1280px;
  border-radius: 12px;
  position: relative;
}
.quality-block::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -88px;
  right: 85px;
  width: 445px;
  height: 474px;
  background-image: url("/assets/images/desktop-quality-img.jpg");
  border-radius: 12px;
}

.quality-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.quality-text {
  max-width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 32px;
}

@media screen and (max-width: 1220px) {
  .quality-title {
    max-width: 417px;
  }
  .quality-text {
    max-width: 450px;
  }
}
@media screen and (max-width: 1120px) {
  .quality-title {
    max-width: 317px;
  }
  .quality-text {
    max-width: 350px;
  }
}
@media screen and (max-width: 1040px) {
  .quality-block::after {
    width: 573px;
    height: 320px;
    background-image: url("/assets/images/tablet-quality.jpg");
    background-size: cover;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .quality-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 88px 0 176px 0;
  }
  .quality-block__content {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .quality-title {
    max-width: 413px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 224px;
    font-size: 32px;
    line-height: 48px;
  }
  .quality-text {
    max-width: 540px;
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 647px) {
  .quality-block::after {
    width: 479px;
    height: 256px;
    background-image: url("/assets/images/mobile-quality-img.jpg");
  }
  .quality-block__content {
    margin-top: 142px;
  }
  .quality-title {
    margin-top: 0;
  }
}
@media screen and (max-width: 620px) {
  .quality-block::after {
    width: 379px;
    height: 206px;
  }
  .quality-block {
    padding: 88px 0 81px 0;
  }
  .quality-block__content {
    margin-top: 84px;
  }
  .quality-title {
    font-size: 28px;
    line-height: 28px;
  }
  .quality-text {
    max-width: 279px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 480px) {
  .quality-block::after {
    width: 279px;
    height: 156px;
  }
  .quality-block__content {
    margin-top: 64px;
  }
}
@media screen and (max-width: 340px) {
  .quality-block::after {
    width: 200px;
    height: 120px;
  }
  .quality-block__content {
    margin-top: 0;
  }
}
.headquartes {
  padding-bottom: 168px;
  padding-left: 145px;
}

.headquarters-text {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
}

.headquartes-title {
  max-width: 1045px;
  display: flex;
  align-items: center;
  gap: 95px;
}

.headquartes-title__item:first-child {
  background-image: url("/assets/images/uksvg.svg");
  background-repeat: no-repeat;
}

.headquartes-title__item:nth-child(2) {
  background-image: url("/assets/images/canadasvg.svg");
  background-repeat: no-repeat;
}

.headquartes-title__item:last-child {
  background-image: url("/assets/images/australiasvg.svg");
  background-repeat: no-repeat;
}

.headquartes__sub-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  color: #333D4B;
  padding-top: 97px;
  margin-bottom: 24px;
}

.headquartes-list__item {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

@media screen and (max-width: 1000px) {
  .headquartes {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .headquarters-block {
    text-align: center;
  }
  .headquartes-title {
    flex-direction: column;
  }
  .headquartes-title__item {
    background-position-x: center;
  }
}
.site-footer {
  padding: 47px 0;
  background-color: #2C343E;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-block {
  display: flex;
  align-items: center;
  gap: 103px;
  max-width: 624px;
}

.site-footer__list {
  display: flex;
  align-items: center;
}

.site-footer__item + .site-footer__item {
  margin-left: 33px;
}

.site-footer__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.site-footer__link:hover {
  color: #FFFFFF;
}

.footer-icon {
  max-width: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.footer-icon__style {
  color: #FEFCF7;
}
.footer-icon__style:hover {
  color: #FDD6BA;
}

@media screen and (max-width: 890px) {
  .footer-wrap {
    flex-direction: column;
    gap: 65px;
  }
  .footer-block {
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .site-footer__list {
    flex-direction: column;
    gap: 24px;
  }
  .site-footer__item + .site-footer__item {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */